.music-plus {
    margin: 0 0 0 calc(var(--sidebarSize));
}


.music-plus-body {
	background: linear-gradient(#1B4F72 75%, rgba(0, 0, 0, 0));
	width: 654px;
	max-width: 654px;
	padding: 10px;
	box-sizing: border-box;
}


.music-plus-body::-webkit-scrollbar {
	width: 7px;
}

.music-plus-body::-webkit-scrollbar-thumb {
	width: 7px;
	border-radius: 7px;
	background: white;
}

.music-plus-body::-webkit-scrollbar-track {
	width: 7px;
}


.text-white {
    color: #fff;
}


#image-cover {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}


.music-plus-menu-btn {
	background: #154360;
	padding: 5px 40px;
	border-radius: 10px 10px 0 0;
	border: none;
	outline: none;
	cursor: pointer;

	transition: 250ms;
}


.music-plus-menu-btn:hover {
	background: #2E86C1;
}


.music-player-box {
	
}

.img-pill {
	border-radius: 20px;
}


.img-pill:selection {
	background: none;
}


.song-cover-box {
	margin-top: 10px;
	width: 102px;
	height: 160px;
	max-width: 102px;
	max-height: 160px;

	text-align: center;

	box-sizing: border-box;
}


.song-cover-box p {
	font-weight: bold;
}


.music-plus-song {
	height: 60px;
}